* {
  margin: 0;
  font-family: Roboto;
}

.header {
  display: grid;
  width: 100%;
  height: 5rem;
  background-color: grey;
  place-items: center;
  margin-bottom: 3rem;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.header h1 {
  font-size: 3rem;
}

.content {
  display: grid;
  place-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: green;
  margin-bottom: 3rem;
}

.content h1 {
  font-size: 2.5rem;
}

.content p {
  font-size: 1.6rem;
}

.footer {
  display: grid;
  place-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: blue;
  position: fixed;
  bottom: 0;
}

.footer p {
  font-size: 1.1rem;
}
